<%= content_for :head do %>
  <%= javascript_import_module_tag "controllers/fee_dues" %>
<% end %>
<div class="bg-[#F5F5F5] container mx-auto md:mt-[35px] text-[15px] lg:mt-0 mb-4 p-1 text-[#2FA4E7] pl-4"><span class="hover:text-[#157AB5]  hover:underline "><%= link_to "Home", root_path %></span><span class="mx-2 text-[#aba7a7]">/</span><span class="hover:text-[#157AB5]  hover:underline pointer" ><%= link_to "Fee Due", fee_dues_path %></span></div>
<div class=" container mx-auto rounded-lg border-2">
  <div class="px-5 bg-[#EDEDED] flex items-center justify-between text-[#317EAC] shadow-2xl">
    <div><i class="fa-solid fa-pen-to-square"></i>
      <span class="font-[700] text-[15px]"> Fee Due Details</span></div>
    <button id="updown" class="accordian-header cursor-pointer duration-700 text-2xl leading-0 px-1 my-1  border bg-white text-black font-extrabold h-[26px] rounded-[12px]"> <i class="bx bx-chevron-up"></i></button>
  </div>
  <div class="accordian-body">
    <div class='p-3 w-full '>
      <%= form_tag fee_dues_path, method: :get, id: "fee_due_form" do %>
        <div class='flex flex-col lg:ml-1 md:flex-row  md:items-center w-full gap-x-12 flex-wrap'>
          <div class="w-full md:w-[25%] lg:w-[15%]">
            <%= label_tag :academic_year, "Academic Year", class: 'text-[15px] text-[#555555] font-semibold' %>
            <%= select_tag :academic_year, options_for_select(['2023-2024', '2024-2025', '2025-2026', '2026-2027', '2028-2029'], params[:academic_year]), prompt: 'Select Academic Year', class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0 academic-year" %>
          </div>
          <div class="w-full md:w-[25%] lg:w-[15%]">
            <%= label_tag :standard, "Standard", class: 'text-[15px] text-[#555555] font-semibold' %>
            <%= select_tag :standard_id, options_from_collection_for_select(Standard.all, 'id', 'name', params[:standard_id]), prompt: 'Select  Standard', class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0 standard" %>
          </div>
          <div class="w-full md:w-[25%] lg:w-[15%]" id="section-dropdown">
            <%= label_tag :section, "Section", class: 'text-[15px] text-[#555555] font-semibold' %>
            <%= select_tag :section_id, options_from_collection_for_select( Section.where(standard_id: params[:standard_id]), 'id', 'section_name', params[:section_id]), prompt: 'Select  Section', class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0" %>
          </div>
          <div class="mt-[24px] md:mt-[24px]">
            <%= submit_tag 'Search', class: 'border border-[1px] border-transparent hover:border-[1px] hover:border-[#547a29] text-white bg-[#81B944] text-[14px] focus:ring-2 hover:ring-[#000] focus:outline-[#000] focus:ring-[#000]  rounded-[5px] text-sm w-auto sm:w-auto px-4 py-2 text-center', style: 'background-image: linear-gradient(#88c149, #73a839 60%, #699934);' %>
            <%= link_to 'Reset', fee_dues_path, class: 'border border-[1px] border-[#2fa4e7] hover:border-[1px] hover:border-[#1684c2] text-white focus:ring-2 hover:ring-[#000] focus:outline-[#000] focus:ring-[#000]  rounded-[4px] text-[14px] w-auto sm:w-auto px-2.5 py-2.5 text-center', style: 'background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);'  %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="feeDueTableContainer" class="<%= 'hidden' unless @academic_details.present? %> overflow-scroll mx-auto">
      <% if notice %>
        <div class="ml-2">
          <p id="notice"  class="alert text-[#508C47] conatiner text-left text-[14px] rounded bg-[#DFF0D8] mt-2 mr-3 p-3 mb-3"><%= notice %></p>
        </div>
      <% end %>
      <table id="feeDueTable" class="stripe"  data-source="<%= fee_dues_path(format: :json) %>">
        <thead class="bg-[#FFFFFF]">
          <tr>
            <th class="serial_number">S No</th>
            <th class="date_of_birth">Standard</th>
            <th class="student_name">Student Id</th>
            <th class="student_name">Admission No</th>
            <th class="date_of_birth">Student Name</th>
            <th class="mobile_number">Mobile Number</th>
            <th class="due_amount">Payable Amount</th>
            <th class="paid_amount">Total Payment</th>
            <th class="balance">Bending Payment</th>
          </tr>
        </thead>
        <tbody class="bg-[#F9F9F9]">
        </tbody>
      </table>
    </div>
  </div>
</div>
