<%= form_for User.new, url: admin_parent_users_path, method: :post, html: { id: 'user-form' } do |f| %>
  <h2>Create New User</h2>
  <div>
    <%= f.label :email %>
    <br>
    <%= f.email_field :email, id: "user_email" %>
    <div class="error" id="email-error" style="color: red;"></div>
  </div>
  <div>
    <%= f.label :name, style: "display: block" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :username, style: "display: block" %>
    <%= f.text_field :username %>
  </div>
  <br>
  <div>
    <br>
    <%= f.text_field :role, value: "parent", style: "display: none" %>
  </div>
  <div>
    <%= f.label :mobile_number, style: "display: block" %>
    <%= f.number_field :mobile_number %>
  </div>
  <div>
    <%= f.label :address, style: "display: block" %>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label :profession, style: "display: block" %>
    <%= f.text_field :profession %>
  </div>
  <%= f.label :gender %>
  <%= f.radio_button :gender, 'male' %>
  <%= f.label :gender, 'Male' %>
  <%= f.radio_button :gender, 'female' %>
  <%= f.label :gender, 'Female' %>
  <br>
  <%= f.label :avatar, style: "display: block" %>
  <%= f.file_field :avatar %>
  <div>
    <%= f.label :password %>
    <br>
    <%= f.password_field :password, id: "user_password" %>
    <div class="error" id="password-error" style="color: red;"></div>
  </div>
  <br>
  <br>
  <%= f.submit "Create Admin User", class: 'btn btn-primary' %>
<% end %>
<