<div class="container bg-[#F5F5F5] mx-auto mb-8 p-1 text-[#39A9E8] pl-4"><span>Home</span><span class="mx-2 text-[#aba7a7]">/</span><span>Add New Parent</span></div>
<div class=" container mx-auto rounded-lg border-2">
  <div class="accordian-header px-5 bg-[#EDEDED] flex items-center justify-between text-[#317EAC] shadow-2xl">
    <div><i class="fa-solid fa-pen-to-square"></i>
      <span class="font-semibold">Add Parent</span></div>
    <div class="cursor-pointer text-3xl"> <i class="bx bx-chevron-down"></i></div>
  </div>
  <div class="accordian-body">
    <%= form_for [:admin_parent, @user], html: { id: 'user-form' } do |f| %>
        <div class="p-4 border-t bg-white flex flex-wrap">
        <div class="container hidden text-red-700 mx-auto conatiner  text-[14px] p-4 rounded bg-[#F2DEDE] " id="error-div">
          <ul>
            <li class="error" id="email-error", style="color: red;"></li>
            <li class="error" id="name-error", style="color: red;"></li>
            <li class="error" id="username-error", style="color: red;"></li>
            <li class="error" id="password-error", style="color: red;"></li>
            <li class="error" id="mobile-number-error", style="color: red;"></li>
            <li class="error" id="address-error", style="color: red;"></li>
            <li class="error" id="profession-error", style="color: red;"></li>
          </ul>
        </div>
        <!-- form starts -->
        <div class="w-full md:w-[80%] md:pl-4">
          <div class="flex md:gap-x-6 md:gap-y-3 flex-wrap">
            <%= f.hidden_field :role, value: "Parent"%>
            <div class="w-full  md:w-[47%]">
              <label for="name" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Name</label>
              <%= f.text_field :name, id:"name" ,class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" ,placeholder:"Name"%>
            </div>
            <div class="w-full  md:w-[32%]">
              <label for="user_name" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">UserName</label>
              <%= f.text_field :username, id:"user_name", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ", placeholder:"Username" %>
            </div>
            <div class="flex w-full md:w-[47%] gap-6 flex-wrap">
              <div class="w-full  md:w-[47%]">
                <label for="email" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Email</label>
                <%= f.email_field :email, id: "user_email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: "email" %>
              </div>
              <div class="w-full  md:w-[48%]">
                <label for="mobile-number" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Mobile</label>
                <%= f.number_field :mobile_number, id: "mobile-number", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: "Mobie" %>
              </div>
            </div>
            <div class="w-full  md:w-[47%]">
              <label for="address" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Address</label>
              <%= f.text_field :address, id: "address", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: "Address" %>
            </div>
            <div class="flex w-full md:w-[47%] gap-6 flex-wrap">
              <div class="w-full  md:w-[47%]">
                <label for="profession" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Profession</label>
                <%= f.text_field :profession, id: "profession", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: "Profession"  %>
              </div>
              <div class="w-full  md:w-[48%]">
                <label for="password" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Password</label>
                <%= f.password_field :password, id: "user_password" , class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: "Password" %>
              </div>
            </div>
            <div class="w-full  md:w-[47%]">
              <label for="geder" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Gender</label>
              <div class="flex" id="gender-radio-group">
                <div class="flex items-center mr-4">
                  <%= f.radio_button :gender, 'male', class:"w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500" %>
                  <label for="inline-radio" class="ml-2 text-sm font-semibold text-gray-900 dark:text-gray-300">Male</label>
                </div>
                <div class="flex items-center mr-4">
                  <%= f.radio_button :gender, 'female', class:"w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500" %>
                  <label for="inline-2-radio" class="ml-2 text-sm font-semibold text-gray-900 dark:text-gray-300">Female</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="w-full md:w-[15%]">
            <div class="w-[130px] h-[130px]"><img src="<%= asset_path('user.png') %>" alt="Image Description"  ></div>
            <div> <%= f.file_field :image, class:"w-[250px]"%></div>
          </div>
        </div>
      </div>
      <%= f.submit "Update Parent",class:"text-white bg-[#39A9E8] ml-4 lg:ml-8 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm  w-auto sm:w-auto px-10 py-2.5 text-center" %>
    <% end %>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('form').on('submit', function(e) {
      var email = $('#user_email').val();
      var password = $('#user_password').val();
      var name = $('#name').val();
      var username = $('#user_name').val();
      var mobile_number = $('#mobile-number').val();
      var address = $('#address').val();
      var profession = $('#profession').val();
      var gender = $('input[name="gender"]:checked').val();
      var err= $('#error-div');

      $('.error').text('');
      $('.error').css('color', 'red');

      var errors = false;

      if (!email || !email.trim()) {
        $('#email-error').text('Please enter a valid email address.');
        errors = true;
      }

      if (!name || !name.trim()) {
        $('#name-error').text('Please enter a name.');
        errors = true;
      }

      if (!username || !username.trim()) {
        $('#username-error').text('Please enter a username.');
        errors = true;
      }

      if (!mobile_number || !mobile_number.trim()) {
        $('#mobile-number-error').text('Please enter a mobile number.');
        errors = true;
      }

      if (!address || !address.trim()) {
        $('#address-error').text('Please enter an address.');
        errors = true;
      }

      if (!profession || !profession.trim()) {
        $('#profession-error').text('Please enter a profession.');
        errors = true;
      }

      if (errors == true) {
        err.removeClass("hidden");
      }
      else {
        err.addClass("hidden");
      }



      if (errors) {
        e.preventDefault();
        return false;
      }

      return true;
    });
  });

   //<!----accordian-->
</script>
