<%= content_for :head do %>
  <%= javascript_import_module_tag "controllers/edit_user" %>
<% end %>
<div class="container bg-[#F5F5F5] mx-auto md:mt-[35px] text-[14px] lg:mt-0 mb-8 p-1.5 rounded-[5px] text-[#2FA4E7] pl-4"><span class="hover:text-[#157AB5]  hover:underline "><%= link_to "Home", root_path %></span><span class="mx-2 text-[#aba7a7]">/</span><span class="hover:text-[#157AB5]  hover:underline pointer"><%= link_to " Manage Parent", admin_parent_users_path %></span><span class="mx-2 text-[#aba7a7]">/</span><span class="hover:text-[#157AB5]  hover:underline pointer"><%= link_to "Edit Parent", edit_admin_parent_user_path(@user)  %></span></div>
<div class=" container mx-auto rounded-[5px] border-2">
  <div class="px-5 bg-[#EDEDED] flex items-center justify-between text-[#317EAC] shadow-2xl" , style="background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);">
    <div><i class="fa-solid fa-pen-to-square"></i>
      <span class="font-[700] text-[15px]">Edit Parent</span></div>
    <button id="updown" class="accordian-header cursor-pointer duration-700 text-2xl leading-0 px-1 my-1  border bg-white text-black font-extrabold h-[26px] rounded-[12px]"> <i class="bx bx-chevron-up"></i></button>
  </div>
  <div class="accordian-body">
    <div class=" hidden text-[#b94a48]  m-4 text-[14px]  rounded bg-[#F2DEDE] " id="error-div">
      <ul class="p-4 pl-[30px]">
        <li class="error" id="email-error"></li>
        <li class="error" id="name-error"></li>
        <li class="error" id="username-error"></li>
        <li class="error" id="password-error"></li>
        <li class="error" id="mobile-number-error"></li>
        <li class="error" id="address-error"></li>
        <li class="error" id="profession-error"></li>
      </ul>
    </div>
    <%= form_for [:admin_parent, @user], html: { id: 'user-form' } do |f| %>
      <div class="p-5 border-t bg-white flex flex-wrap">
        <!-- form starts -->
        <div class="w-full md:w-[75%]">
          <div class="flex   flex-wrap gap-x-7 gap-y-4">
            <%= f.hidden_field :role, value: "Parent"%>
            <div class="w-full  md:w-[45%] lg:w-[49%] xl:w-[47.3%] 2xl:w-[46.5%]">
              <label for="name" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Name</label>
              <%= f.text_field :name, id:"name" ,class: "border border-gray-300 text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" ,placeholder:"Name"%>
            </div>
            <div class="w-full  md:w-[34%]">
              <label for="user_name" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Username</label>
              <%= f.text_field :username, id:"user_name", class:"border bg-[#EDEDED]  border-gray-300 text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2 cursor-not-allowed", placeholder:"Username" , readonly: true %>
            </div>
            <div class="w-full  md:w-[45%] lg:w-[22%]">
              <label for="email" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Email</label>
              <%= f.email_field :email, id: "user_email", class: "border border-gray-300 text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2", placeholder: "email" %>
            </div>
            <div class="w-full  md:w-[45%] lg:w-[22%]">
              <label for="mobile-number" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Mobile No</label>
              <%= f.number_field :mobile_number, id: "mobile-number", class: "border border-gray-300 text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2", placeholder: "Mobie No" %>
            </div>
            <div class="w-full  md:w-[45%]  lg:w-[45%] xl:w-[48.5%]">
              <label for="address" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Address</label>
              <%= f.text_field :address, id: "address", class: "border border-gray-300 text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2", placeholder: "Address" %>
            </div>
            <div class="w-full  md:w-[45%] lg:w-[22%]">
              <label for="profession" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Profession</label>
              <%= f.text_field :profession, id: "profession", class: "border border-gray-300 text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2", placeholder: "Profession"  %>
            </div>
            <div class="w-full  md:w-[45%] lg:w-[22%] hidden">
              <label for="password" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Password</label>
              <%= f.text_field :encrypted_password, disabled: true, id: "user_password" , class: "border border-gray-300 text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2", placeholder: "Password" %>
            </div>
            <div class="w-full  md:w-[45%] lg:w-[22%]">
              <label for="password" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Password</label>
              <%= f.text_field :password, disabled: true, id: "user_password" , class: "border border-gray-300 text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2", placeholder: "Password", value: "********" %>
            </div>
            <div class="w-full  md:w-[45%]">
              <label for="gender" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Gender</label>
              <div class="flex" id="gender-radio-group">
                <div class="flex items-center mr-4">
                  <%= f.radio_button :gender, 'male', class:"w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500" %>
                  <label for="inline-radio" class="ml-2 text-sm font-semibold text-[#555555] dark:text-gray-300">Male</label>
                </div>
                <div class="flex items-center mr-4">
                  <%= f.radio_button :gender, 'female', class:"w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500" %>
                  <label for="inline-2-radio" class="ml-2 text-sm font-semibold text-[#555555] dark:text-gray-300">Female</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-[25%] md:pl-4 lg:pl-0 mt-4">
          <div id="previewSingle"></div>
          <div id="defaultUpload">
            <% if @user.image.attached? %>
              <div class="w-[130px] h-[130px]"><%= image_tag @user.image %></div>
            <% else %>
              <div class="w-[130px] h-[130px]"><img src="<%= asset_path('user.png') %>" alt="Image Description"  ></div>
            <% end %>
          </div>
          <div class="file-input-wrapper mt-2">
            <label class=" px-9 py-1.5 bg-white text-[14px]   border-2 rounded-[4px]">
              <span class=" text-[#555555] font-thin ">Browse</span>
              <%= f.file_field :image, class: "hidden", id: "single_file", accept: "image/*" %>
            </label>
          </div>
        </div>
      </div>
      <%= f.submit "Update Parent",class: 'ml-6 md:ml-4  mb-4 md:ml-5 text-white border border-[1px] border-[#2fa4e7] hover:border-[1px] hover:border-[#1684c2] bg-[#81B944] focus:ring-2 hover:ring-[#000] focus:outline-[#000] focus:ring-[#000] rounded-[4px] text-[14px] text-sm w-auto sm:w-auto px-3 py-2 text-center', style: 'background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);'%>
    <% end %>
  </div>
</div>
