<%= form_with(model: academic_fee, class: "contents") do |form| %>
  <div class='grid grid-cols-1 md:grid-cols-4 gap-2 gap-x-6'>
    <div class="w-full">
      <%= form.label :discount, "Discount in %", class: 'text-[15px] text-[#555555] font-semibold' %>
      <%= form.text_field :discount, class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0" %>
    </div>
    <div class="w-full">
      <%= form.label :actual_fee, "Discount Amount", class: 'text-[15px] text-[#555555] font-semibold' %>
      <%= form.text_field :actual_fee, class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0" %>
    </div>
    <div class="w-full">
      <%= form.label :payable_fee, "Paid Amount%", class: 'text-[15px] text-[#555555] font-semibold' %>
      <%= form.text_field :payable_fee, class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0" %>
    </div>
    <div class="w-full">
      <%= form.label :academic_detail_id, class: 'text-[15px] text-[#555555] font-semibold' %>
      <%= form.text_field :academic_detail_id, class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0" %>
    </div>
  </div>
  <div class='grid grid-cols-1 md:grid-cols-3 gap-2 gap-x-6'>
    <div class="py-3">
      <%= form.label :discount, "Discount in %", class: 'text-[15px] text-[#555555] font-semibold' %>
      <%= form.text_field :discount, class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0" %>
    </div>
    <div class="py-3">
      <%= form.label :actual_fee, "Discount Amount", class: 'text-[15px] text-[#555555] font-semibold' %>
      <%= form.text_field :actual_fee, class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0" %>
    </div>
    <div class="py-3">
      <%= form.label :payable_fee, "Paid Amount%", class: 'text-[15px] text-[#555555] font-semibold' %>
      <%= form.text_field :payable_fee, class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0" %>
    </div>
  </div>
  <div class="py-2">
    <%= form.submit "Pay Fee", id: 'date_submit', class: 'text-white bg-[#81B944] text-[14px] focus:ring-2 hover:ring-[#000] focus:outline-[#000] focus:ring-[#000]  rounded-[5px] text-sm w-auto sm:w-auto px-4 py-2 text-center', style: 'background-image: linear-gradient(#88c149, #73a839 60%, #699934);' %>
  </div>
<% end %>
