 <%= content_for :head do %>
  <%= javascript_import_module_tag "controllers/academic_fees" %>
<% end %>
<div class="my-[20px]">
  <%= link_to 'check print', invoice_payment_path(Payment.last, format: :pdf), class: 'text-white focus:ring-2 hover:ring-[#000] focus:outline-[#000] focus:ring-[#000] font-semibold rounded-[5px] text-sm w-auto sm:w-auto px-4 py-3 text-center', style: 'background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);' %>
</div>
<div class="bg-[#F5F5F5] mx-3 md:mt-[35px] text-[15px] lg:mt-0 mb-4 p-1 text-[#2FA4E7] pl-4"><span class="hover:text-[#157AB5]  hover:underline "><%= link_to "Home", root_path %></span><span class="mx-2 text-[#aba7a7]">/</span><span class="hover:text-[#157AB5]  hover:underline pointer" ><%= link_to "Fee Payment", academic_fees_path %></span></div>
<div class=" mx-3 relative">
  <div id="success_notice">
  </div>
  <div class="grid w-full grid-cols-1 lg:grid-cols-9 gap-x-6 gap-y-3">
    <div class="w-full lg:col-span-6">
      <div class=" container mx-auto rounded-[5px] border-2">
        <div class=" px-5 bg-[#EDEDED] flex items-center justify-between text-[#317EAC] shadow-2xl", style="background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);">
          <div><i class="fa-solid fa-pen-to-square"></i>
            <span class="font-extrabold text-[15px]">Fee Payment</span></div>
          <button id="updown" class="accordian-header cursor-pointer duration-700 text-2xl leading-0 px-1 my-1  border bg-white text-black font-extrabold h-[26px] rounded-[12px]"> <i class="bx bx-chevron-up"></i></button>
        </div>
        <div class="accordian-body p-2">
          <fieldset>
            <legend class="text-[#555555] font-bold text-[16px]">Find Student</legend>
            <hr>
            <div class="p-4">
              <%= form_with(url: filter_academic_fees_path, method: :post, id: "academic-fee", local: false, format: :turbo_stream) do |form| %>
                <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2 gap-x-6'>
                  <div class="w-full">
                    <%= form.label :standard, "Standard", class: 'text-[15px] text-[#555555] font-semibold' %>
                    <%= form.select :standard_id, Standard.all.map { |s| [s.name, s.id] }, { prompt: 'Select a Standard' }, class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0 standard" %>
                  </div>
                  <div class="w-full" id="section-dropdown">
                    <%= form.label :section, "Section", class: 'text-[15px] text-[#555555] font-semibold' %>
                    <%= form.select :section_id, Section.where(standard_id: params[:standard_id]).map { |s| [s.section_name, s.id] }, { prompt: 'Select a Section' }, class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0 " %>
                  </div>
                  <div class="w-full" id="student-dropdown">
                    <%= form.label :student, "Student", class: 'text-[15px] text-[#555555] font-semibold' %>
                    <%= form.select :student_id, Student.where(section_id: params[:section_id]).map { |s| [s.name, s.id] }, { prompt: 'Select a Student' }, class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0 " %>
                  </div>
                  <div class="w-full" id="admission-dropdown">
                    <%= form.label :admission_no, "Admission No", class: 'text-[15px] text-[#555555] font-semibold' %>
                    <%= form.text_field :admission_no, { value: params[:admission_no], class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0", id: 'admission_no', placeholder: 'Admission No' } %>
                  </div>
                </div>
                <div class="my-[20px]">
                  <%= link_to 'Reset', academic_fees_path, class: 'text-white focus:ring-2 hover:ring-[#000] focus:outline-[#000] focus:ring-[#000] font-semibold rounded-[5px] text-sm w-auto sm:w-auto px-4 py-3 text-center', style: 'background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);' %>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-2 gap-x-6">
                  <div class="w-full" id="academi_year">
                    <%= form.label :academi_year, "Academic Year", class: 'text-[15px] text-[#555555] font-semibold' %>
                    <%= form.select(:academic_year, ['2023-2024', '2024-2025', '2025-2026', '2026-2027', '2028-2029'] ,  { prompt: 'Select Year' }, { class: 'border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0'} ) %>
                  </div>
                  <div class="w-full" id="payment_date">
                    <%= form.label :payment_date, "Payment Date", class: 'text-[15px] text-[#555555] font-semibold' %>
                    <%= form.datetime_field :payment_date, class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0", id: 'payment_date' %>
                  </div>
                </div>
                <div class="md:mt-[20px]">
                  <%= form.submit "View", id: 'date_submit', class: 'text-white bg-[#81B944] focus:ring-2 hover:ring-[#000] focus:outline-[#000] focus:ring-[#000] font-semibold rounded-[5px] text-sm w-auto sm:w-auto px-4 py-2 text-center', style: 'background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);' %>
                </div>
              <% end %>
            </div>
          </fieldset>
          <%= turbo_frame_tag "academic_fee_details_form" do %>
            <div v class=" rounded-[5px] border-2 mx-4 mt-3 md:mt-5">
              <div class=" px-5 bg-[#EDEDED] flex items-center justify-between text-[#317EAC] shadow-2xl", style="background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);">
                <div><i class="fa-solid fa-pen-to-square"></i>
                  <span class="font-extrabold text-[15px]"> Fee Amount </span></div>
                <button id="updown" class="accordian-header cursor-pointer duration-700 text-2xl leading-0 px-1 my-1  border bg-white text-black font-extrabold h-[26px] rounded-[12px]"> <i class="bx bx-chevron-up"></i></button>
              </div>
              <div class="accordian-body p-[10px] min-h-[80px]">
                <div class='grid grid-cols-1 md:grid-cols-4 gap-2 gap-x-6'>
                  <%= form_with(model: AcademicFee.new, class: "contents", id: "academic_fee_form") do |form| %>
                    <div class="w-full">
                      <%= form.label :total_amount, "Total Amount", class: 'text-[15px] text-[#555555] font-semibold' %>
                      <%= form.text_field :actual_fee, id: "actual_fee_input", class: "border border-[#cccccc] text-[#555555] bg-[#EDEDED] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0", placeholder: "0", readonly: true %>
                    </div>
                    <div class="w-full">
                      <%= form.label :discount, "Discount in %", class: 'text-[15px] text-[#555555] font-semibold' %>
                      <%= form.text_field :discount, class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0", placeholder: "0" %>
                    </div>
                    <div class="w-full">
                      <label class="text-[15px] text-[#555555] font-semibold" for="discount_amount">Discount Amount</label>
                      <input type="text" id="discount_amount" name="discount_amount" class="border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0" placeholder="0">
                    </div>
                    <div class="w-full">
                      <%= form.label :payable_fee, "Payable Amount", class: 'text-[15px] text-[#555555] font-semibold' %>
                      <%= form.text_field :payable_fee, id: "payable_fee" ,class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0", placeholder: "0" %>
                    </div>
                    <div class="py-2">
                      <%= form.submit "Submit", disabled: true, id: 'fee_submit', class: 'text-white bg-[#81B944] text-[14px] focus:ring-2 hover:ring-[#000] focus:outline-[#000] focus:ring-[#000]  rounded-[5px] text-sm w-auto sm:w-auto px-4 py-2 text-center', style: 'background-image: linear-gradient(#88c149, #73a839 60%, #699934);' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <%= turbo_frame_tag "payment_details_form" do %>
            <fieldset>
              <legend class="text-[#555555] font-bold text-[16px] pt-3">Payment Details</legend>
              <hr>
              <div class="p-4">
                <div class='grid grid-cols-1 md:grid-cols-3 gap-2 gap-x-6'>
                  <%= form_with(model: Payment.new, url: create_payment_academic_fee_path(29), class: "contents") do |payment_form| %>
                    <div class="py-3">
                      <%= payment_form.label :payment_info, "Payment Info", class: 'text-[15px] text-[#555555] font-semibold' %>
                      <%= payment_form.text_field :payment_info, class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0" %>
                    </div>
                    <div class="py-3">
                      <%= payment_form.label :payemt_type, "Payment Type", class: 'text-[15px] text-[#555555] font-semibold' %>
                      <%= payment_form.select(:mode_of_pay, options_for_select(['CASH', 'CHECK'], selected: 'CASH'), { prompt: 'Select' }, { class: 'border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0'} ) %>
                    </div>
                    <div class="py-3">
                      <%= payment_form.label :payable_fee, "Paid Amount", class: 'text-[15px] text-[#555555] font-semibold' %>
                      <%= payment_form.text_field :paid_amount, class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0", placeholder: "0" %>
                    </div>
                    <%= payment_form.hidden_field :paid_by, class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0", placeholder: "0", value: (current_user.id) %>
                    <%= payment_form.hidden_field :paid_at, class: "border border-[#cccccc] text-[#555555] text-sm rounded-[5px] focus:border-[#66afe9] focus:ring-blue-200 block w-full p-2.0", placeholder: "0" %>
                    <div class="py-2">
                      <%= payment_form.submit "Pay Fee", disabled: true, id: 'date_submit', class: 'text-white bg-[#81B944] text-[14px] focus:ring-2 hover:ring-[#000] focus:outline-[#000] focus:ring-[#000]  rounded-[5px] text-sm w-auto sm:w-auto px-4 py-2 text-center', style: 'background-image: linear-gradient(#88c149, #73a839 60%, #699934);' %>
                    </div>
                    <div class="py-3">
                      <%= link_to payments_path, class: "text-[#555555] text-[15px] border border-[rgba(0,0,0,0.1)] bg-[#fff] rounded-[5px] px-4 py-2.5", style: "background-image: linear-gradient(#fff, #fff 60%, #f5f5f5);" do %>
                        <i class="fa-solid fa-print"></i>
                        Print
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
    <div class="w-full lg:col-span-3">
      <div class=" w-full rounded-[5px] border-2">
        <div class=" px-5 bg-[#EDEDED] flex items-center justify-between text-[#317EAC] shadow-2xl", style="background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);">
          <div><i class="fa-solid fa-pen-to-square"></i>
            <span class="font-extrabold text-[15px]">Student Details</span></div>
          <button id="updown" class="accordian-header cursor-pointer duration-700 text-2xl leading-0 px-1 my-1  border bg-white text-black font-extrabold h-[26px] rounded-[12px]"> <i class="bx bx-chevron-up"></i></button>
        </div>
        <div class="accordian-body">
          <div class="w-full min-h-[30px]" id="student-details">
          </div>
        </div>
      </div>
      <div class=" w-full rounded-[5px] border-2 mt-3 md:mt-5">
        <div class=" px-5 bg-[#EDEDED] flex items-center justify-between text-[#317EAC] shadow-2xl", style="background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);">
          <div><i class="fa-solid fa-pen-to-square"></i>
            <span class="font-extrabold text-[15px]"> Previous Payment Details</span></div>
          <button id="updown" class="accordian-header cursor-pointer duration-700 text-2xl leading-0 px-1 my-1  border bg-white text-black font-extrabold h-[26px] rounded-[12px]"> <i class="bx bx-chevron-up"></i></button>
        </div>
        <div class="accordian-body p-[10px]">
          <div id="payment-details">
            <table class="table table-striped w-full border-collapse border border-[#dddddd] ">
              <thead class="text-[14px] text-[#555555] font-semibold text-left bg-[#fff] border-[#dddddd] border-b-2 ">
                <tr>
                  <th class="border border-[#dddddd] p-2">Date</th>
                  <th class="border border-[#dddddd] p-2">Paid</th>
                </tr>
              </thead>
              <tbody>
                <tr class='striped text-[14px] text-[#555555] font-semibold text-center'>
                  <td class="border border-[#dddddd] p-2 ">Total</td>
                  <td class="border border-[#dddddd] p-2 ">0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
