 <%= content_for :head do %>
  <%= javascript_import_module_tag "controllers/parent_notice_calender" %>
<% end %>
<div class="bg-[#F5F5F5] mx-4 md:mt-[35px] text-[15px] lg:mt-0 mb-4 p-1 text-[#2FA4E7] pl-4"><span class="hover:text-[#157AB5]  hover:underline "><%= link_to "Home", root_path %></span><span class="mx-2 text-[#aba7a7]">/</span><span class="hover:text-[#157AB5]  hover:underline pointer" ><%= link_to "Noticeboard", notices_path %></span></div>
<div class="grid grid-cols-1 lg:grid-cols-2 gap-5 mx-4">
  <!-- teacher notice -->
  <div class="w-full">
    <div class="  mx-auto rounded-[5px] border-2">
      <div class=" px-5  flex items-center justify-between text-[#317EAC] shadow-2xl" style="background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);">
        <div><i class="fa-solid fa-pen-to-square"></i>
          <span class="font-semibold">parent Noticeboard</span></div>
        <button id="updown" class="accordian-header cursor-pointer duration-700 text-2xl leading-0 px-1 my-1  border bg-white text-black font-extrabold h-[26px] rounded-[12px]"> <i class="bx bx-chevron-up"></i></button>
      </div>
      <div class="accordian-body p-2 relative ">
        <span class="text-[15px] text-[#555555] font-extrabold "> Date:  </span><span class="text-[#555555] text-[15px]"><%= Date.today %></span>
        <hr>
        <div class="text-[#555555] font-light text-[14px] my-10">
          <% if @parent_notices.empty? %>
            <p class="text-[#555555] font-light text-[14px] my-10">No Notice Found</p>
          <% else %>
            <% @parent_notices.each do |notice| %>
              <div class="flex flex-col">
                <div >
                  <p >
                    <%= notice.notice %>
                  </p>
                </div>
                <div class="self-end absolute bottom-0 flex gap-2">
                  <div>
                    <%= notice.updated_at.in_time_zone('Asia/Kolkata').strftime("%I:%M %p") %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full">
    <div class="  mx-auto rounded-[5px] border-2">
      <div class=" px-5  flex items-center justify-between text-[#317EAC] shadow-2xl" style="background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);">
        <div><i class="fa-solid fa-pen-to-square"></i>
          <span class="font-semibold">Enter Teacher Notice</span></div>
        <button id="updown" class="accordian-header cursor-pointer duration-700 text-2xl leading-0 px-1 my-1  border bg-white text-black font-extrabold h-[26px] rounded-[12px]"> <i class="bx bx-chevron-up"></i></button>
      </div>
      <div class="accordian-body w-full">
        <div class="w-full mt-2">
          <div id='calendar' class="w-full p-2 "></div>
        </div>
      </div>
    </div>
  </div>
</div>
