<% if notice %>
  <div   class="alert text-center text-black px-4 py-2 text-[14px] absolute left-[850px] top-[80px] rounded striped-background w-max"><%= notice %></div>
<% end %>
<div class=" bg-[#F5F5F5] p-1 text-[15px] mx-6 mb-8 text-[#2FA4E7] "><span>Home</span><span class="mx-2 text-[#aba7a7]">/</span><span>Profile</span></div>
<div class="bg-[#F5F5F5] container mx-auto md:mt-[35px] text-[14px] lg:mt-0 mb-4 p-1 text-[#2FA4E7] pl-4"><span class="hover:text-[#157AB5]  hover:underline "><%= link_to "Home", root_path %></span><span class="mx-2 text-[#aba7a7]">/</span><span class="hover:text-[#157AB5]  hover:underline pointer" ><%= link_to "Profile", academic_details_path %></span></div>
<div class="flex flex-wrap gap-x-3 mx-auto">
  <!-- profile section -->
  <div class="w-full lg:w-[47.5%] mx-6">
    <div class=" container mx-auto rounded-[5px] border-2">
      <div class=" px-5 bg-[#EDEDED] flex items-center justify-between text-[#317EAC] shadow-2xl">
        <div><i class="fa-solid fa-pen-to-square"></i>
          <span class="font-[700] text-[15px]">Update Profile</span></div>
        <button id="updown" class="accordian-header cursor-pointer duration-700 text-2xl leading-0 px-1 my-1  border bg-white text-black font-extrabold h-[26px] rounded-[12px]"> <i class="bx bx-chevron-up"></i></button>
      </div>
      <div class="accordian-body">
        <%= form_for [:admin_admin, @user], html: { id: 'user-form' } do |f| %>
          <div class="p-5 border-t bg-white flex-col ">
            <div class="w-full mb-4">
              <label for="user_name" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">UserName</label>
              <%= f.text_field :username, id:"user_name", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-[5px] focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ", placeholder:"Username" %>
            </div>
            <div class="w-full mb-4">
              <label for="name" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Name</label>
              <%= f.text_field :name, id:"name" ,class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-[5px] focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" ,placeholder:"Name"%>
            </div>
            <div class="w-full mb-4">
              <label for="mobile-number" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Mobile</label>
              <%= f.number_field :mobile_number, id: "mobile-number", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-[5px] focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: "Mobie" %>
            </div>
            <div class="w-full mb-4">
              <label for="email" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Email</label>
              <%= f.email_field :email, id: "user_email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-[5px] focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: "email" %>
            </div>
            <div class="w-full mb-4">
              <label for="address" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Address</label>
              <%= f.text_field :address, id: "address", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-[5px] focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: "Address" %>
            </div>
          </div>
          <%= f.submit "Save",class:"text-white bg-[#2FA4E7] ml-4 ml-4  md:mb-4 md:ml-5 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-[5px] text-sm  w-auto sm:w-auto px-5  py-2.5 text-center" %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- password form -->
  <div class="w-full lg:w-[47.5%] ">
    <div class=" container mx-auto rounded-[5px] border-2">
      <div class=" px-5 bg-[#EDEDED] flex items-center justify-between text-[#317EAC] shadow-2xl">
        <div><i class="fa-solid fa-pen-to-square"></i>
          <span class="font-[700] text-[15px]">Update Password</span></div>
        <button id="updown" class="accordian-header cursor-pointer duration-700 text-2xl leading-0 px-1 my-1  border bg-white text-black font-extrabold h-[26px] rounded-[12px]"> <i class="bx bx-chevron-up"></i></button>
      </div>
      <div class="accordian-body">
        <% resource_name ||= :user %>
        <% devise_mapping ||= Devise.mappings[resource_name] %>
        <%= form_for(:user, as: resource_name, url: registration_path(:user), html: { method: :put }) do |f| %>
          <div class="p-5 border-t bg-white flex-col ">
            <div class="w-full mb-4">
              <% f.email_field :email, autofocus: true, autocomplete: "email" %>
              <label for="password" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Current Password</label>
              <%= f.password_field :current_password, autocomplete: "current-password", id: "user_password" , class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-[5px] focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: "Password" %>
            </div>
            <div class="w-full mb-4">
              <label for="password" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">New Password</label>
              <%= f.password_field :password, autocomplete: "new-password", id: "user_password" , class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-[5px] focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: "Password" %>
            </div>
            <div class="w-full mb-4">
              <label for="password" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Confirm Password</label>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "confirm_password" , class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-[5px] focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: "Password" %>
            </div>
          </div>
          <%= f.submit "Change Password",class:"text-white bg-[#2FA4E7] ml-4 ml-4  md:mb-4 md:ml-5 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-[5px] text-sm  w-auto sm:w-auto px-5  py-2.5 text-center" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
