<%= form_tag user_attendances_path, method: :get do %>
  <%= label_tag :date, "Date" %>
  <%= date_field_tag :date, params[:date]  %>
  <%= submit_tag "Submit" %>
<% end %>
<%= form_tag update_all_path, method: :post do %>
  <table class="bordered">
    <thead>
      <tr>
        <th>Teacher</th>
        <th>Username</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.username %></td>
          <td>
            <%= hidden_field_tag "attendances[#{user.id}][attendable_id]", user.id %>
            <%= hidden_field_tag "attendances[#{user.id}][attendable_type]", user.class.name %>
            <%= hidden_field_tag "attendances[#{user.id}][date]", @selected_date %>
            <% attendance = Attendance.find_by(attendable_id: user.id, attendable_type: user.class.name, date: @selected_date) %>
            <%= radio_button_tag "attendances[#{user.id}][status]", "present", checked: attendance&.status == "present" %> present
            <%= radio_button_tag "attendances[#{user.id}][status]", "late", checked: attendance&.status == "late" %> Late
            <%= radio_button_tag "attendances[#{user.id}][status]", "absent", checked: attendance&.status == "absent" %> Absent
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "Submit" %>
<% end %>
