<div class="">
  <div class="pt-40">
    <div class="" style="width: 100%; display: flex; flex-direction: row;">
      <div class="" style="width: 70%; display: flex  flex-direction: column;">
        <img src="<%= asset_path('homescreenlogo.png') %>" alt="logo" style="width: 230px; height: 70px;">
      </div>
      <div class="col-sm-7 padding-0" style="width: 30%; display: flex; justify-content: end;">
        <table class="table" cellspacing="0" cellpadding="10" border="1">
          <thead>
            <tr>
              <th>Payment id</th>
              <th>paid at</th>
              <th>paid amount</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p><%= @payment.id %></p>
                </td>
                <td>
                  <p><%= @payment.paid_at.strftime("%B %d, %Y") %></p>
                </td>
                <td>
                  <p><%= @payment.paid_amount %></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row margin-0">
        <div class="">
        </div>
      </div>
      <div style="width: 100%; height: 120px; border-bottom: 1px solid #000; padding-top: 10px;">
        <span class="">Total Amount (In Words):</span>
      </div>
      <div  style="width: 100%; height: 220px; border-bottom: 0px solid #000;" class="signature">
        <div style="text-align: end; padding-bottom:125px;">
        </div>
        <div style="text-align: end;">
        </div>
      </div>
    </div>
  </div>
  <div class="bg-[#0f0e0e]">
    <div class="wrapper">
      <div class="" style="width: 100%; display: flex; flex-direction: row;">
        <div class="" style="width: 70%; display: flex  flex-direction: column;">
          <!-- Use image_tag to embed the image in the PDF -->
          <%= image_tag(asset_path('homescreenlogo.png'), alt: 'logo', style: 'width: 230px; height: 70px;') %>
        </div>
        <!-- ... rest of your code ... -->
      </div>
    </div>
  </div>
