 <%= content_for :head do %>
  <%= javascript_import_module_tag "controllers/studentAttendance" %>
<% end %>
<div class="container bg-[#F5F5F5] mx-auto md:mt-[35px] text-[15px] lg:mt-0 mb-8 p-1 text-[#39A9E8] pl-4"><span><%= link_to "Home", root_path %></span><span class="mx-2 text-[#aba7a7]">/</span><span>Student Attendance</span></div>
<div class=" container mx-auto rounded-[5px] border-2 relative">
  <div class=" px-5 bg-[#EDEDED] flex items-center justify-between text-[#317EAC] shadow-2xl">
    <div><i class="fa-solid fa-pen-to-square"></i>
      <span class="font-semibold">Student Attendance</span></div>
    <button class="accordian-header cursor-pointer leading-0 px-1 text-2xl  border bg-white text-black font-extrabold rounded-3xl"> <i class="bx bx-chevron-up  "></i></button>
  </div>
  <div class="accordian-body bg-[#ffffff] ">
    <div class="p-3 ">
      <div class="w-full container hidden  text-red-700 mx-auto conatiner mb-3  text-[14px] p-4 rounded bg-[#F2DEDE] " id="error-div">
        <ul>
          <li class="error" id="date-error"></li>
        </ul>
      </div>
      <div class='p-3 w-full'>
        <%= form_tag student_attendances_path, method: :get do  %>
          <div class= 'flex flex-col md:flex-row gap-2 md:items-center w-full gap-x-6'>
            <div class="w-full md:w-[25%]">
              <%= label_tag :standard, "Standard", class: 'text-[15px] text-[#555555] font-semibold' %>
              <%= select_tag :standard_id, options_from_collection_for_select(Standard.all, 'id', 'name', params[:standard_id]), prompt: 'Select a Standard', class: "border border-gray-300 bg-[#EEEEEE] text-gray-900 text-sm rounded-[5px] focus:ring-[#37A7E7] focus:border-[#37A7E7] block w-full p-2.0 standard" %>
            </div>
            <div class="w-full md:w-[25%]" id="section-dropdown">
              <%= label_tag :section, "Section", class: 'text-[15px] text-[#555555] font-semibold' %>
              <%= select_tag :section_id, options_from_collection_for_select( Section.where(standard_id: params[:standard_id]), 'id', 'section_name', params[:section_id]), prompt: 'Select a Section', class: "border border-gray-300 bg-[#EEEEEE] text-gray-900 text-sm rounded-[5px] focus:ring-[#37A7E7] focus:border-[#37A7E7] block w-full p-2.0 " %>
            </div>
            <div class="w-full md:w-[25%]">
              <%= label_tag :date, "Date" , class: 'text-[15px] text-[#555555] font-semibold' %>
              <%= date_field_tag :date, params[:date],  class: " border border-gray-300 bg-[#EEEEEE] text-gray-900 text-sm rounded-[5px] focus:ring-[#37A7E7] focus:border-[#37A7E7] block w-full p-2.0", id: 'date' %>
            </div>
            <div class="md:mt-[20px]">
              <%= submit_tag "View", id: 'date_submit' ,class:'text-white bg-[#81B944]    focus:ring-2 hover:ring-[#000] focus:outline-[#000] focus:ring-[#000] font-semibold rounded-[5px] text-sm  w-auto sm:w-auto px-4  py-2 text-center'%>
            </div>
          </div>
        <% end %>
      </div>
      <div class="w-full mb-8 text-[14px]" id="table-div">
        <%= form_tag update_all_student_attendances_path, method: :post do %>
          <div class="overflow-x-auto w-full">
            <table class="table table-striped w-full border-collapse border border-slate-400 ">
              <thead class="text-[15px] text-[#555555] font-semibold text-left border-[#D9D9D9] border-b-2 ">
                <tr>
                  <th class="border border-slate-300 p-2">Student</th>
                  <th class="border border-slate-300 p-2">Roll No</th>
                  <th class="border border-slate-300 p-2">Status</th>
                </tr>
              </thead>
              <tbody>
                <% @students.each do |student| %>
                  <tr class='striped'>
                    <td class="border border-slate-300 p-2 text-[#3177E7] font-light"><%= student.name %></td>
                    <td class="border border-slate-300 p-2 "><%= student.roll_no %></td>
                    <td class="border border-slate-300 p-2 text-[#555555] font-semibold">
                      <%= hidden_field_tag "attendances[#{student.id}][attendable_id]", student.id %>
                      <%= hidden_field_tag "attendances[#{student.id}][attendable_type]", student.class.name %>
                      <%= hidden_field_tag "attendances[#{student.id}][date]", @selected_date %>
                      <% attendance = Attendance.find_by(attendable_id: student.id, attendable_type: student.class.name, date: @selected_date) %>
                      <div class="flex items-center gap-1 text-[14px]">
                        <%= radio_button_tag "attendances[#{student.id}][status]", "present", checked: attendance&.status == "present" %> <span class="mr-3">Present</span>
                        <%= radio_button_tag "attendances[#{student.id}][status]", "late", checked: attendance&.status == "late" %> <span class="mr-3">Late</span>
                        <%= radio_button_tag "attendances[#{student.id}][status]", "absent", checked: attendance&.status == "absent" %> Absent
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="flex justify-center mt-12 md:absolute md:bottom-[-20px] md:left-[50%] md:right-[50%]">
            <%= submit_tag "Submit Attendance",class:'text-white bg-[#033c73]    focus:ring-2 hover:ring-[#000] focus:outline-[#000] focus:ring-[#000]  rounded-[5px] text-sm  w-auto sm:w-auto px-4  py-2 text-center' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
