<!DOCTYPE html>
<html>
  <head>
    <title>SchoolManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/js/all.min.js' %>
    <link rel="stylesheet" href="<%= asset_path('dark.css') %>" as="style" onload="this.rel='stylesheet'">
    <link rel="stylesheet" id="themeStylesheet" href="<%= asset_path('default.css') %>">
    <link rel="stylesheet" href="<%= asset_path('common.css') %>">
    <style>
      div#dropdownNavbar {
      top: 15px !important;
      }

           html, body {
        min-height:100vh;
        font-family: 'Manrope', sans-serif;
      }
    </style>
    <script>
      function openNavForTheme() {
       theme = document.getElementById("themeContent");
       console.log(theme.classList)
       if (theme.classList.contains("hidden")) {

         theme.classList.remove("hidden");
          admin.classList.add("hidden");
       }
       else {
         theme.classList.add("hidden");

       }
           }

           function openNav() {
       admin = document.getElementById("adminContent");
       console.log(admin.classList)
       if (admin.classList.contains("hidden")) {

         admin.classList.remove("hidden");
          theme.classList.add("hidden");
       }
       else {
         admin.classList.add("hidden");
       }
           }
    </script>
  </head>
  <body>
    <% if user_signed_in? %>
      <nav class="top-0  absolute z-50 w-full bg-[#39A9E8] border-b border-gray-200 dark:bg-[#39A9E8] dark:border-gray-700">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
          <div class="flex items-center justify-between">
            <div class="flex items-center justify-start">
              <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                <span class="sr-only">Open sidebar</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                </svg>
              </button>
              <a href="" class="flex ml-2 md:mr-24">
                <img src="<%= asset_path('homescreenlogo.png') %>" alt="Image Description" class="w-[133px] h-[50px]" >
              </a>
              <div class="flex space-x-4">
                <div class="hidden sm:block self-center  sm:text-[14px] text-[#fff] " ><i class="fa-regular fa-clock"></i> Academic Year: 2023-2024</div>
                <div class="hidden sm:block self-center  sm:text-[14px] whitespace-nowrap dark:text-white text-[#fff]"><i class="fa-solid fa-envelope"></i><span class="p-[4px] text-[#fff]">SMS Available: 0</span></div>
                <div><button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="hidden sm:block self-center  sm:text-[14px]  text-[#fff]"><i class="fa-solid fa-star"></i><span class="p-[4px]">More</span><span ><i class="fa-solid fa-caret-down"></i></span>
                  </button>
                  <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                      <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">User Log</a>
                      </li>
                      <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">Manage Class</a>
                      </li>
                      <li>
                        <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">About School</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center">
              <div>
                <!-- Dropdown for theme  cerulea cyborg Simplex Darkly-->
                <div class="flex items-center ml-3">
                  <div><button onclick="openNavForTheme()"  class="self-center flex items-center justify-center rounded sm:text-[14px] h-[40px] w-[60px] lg:w-[130px] bg-white text-[#555555] relative"><i class="fa-solid fa-droplet"></i><span class="p-[4px] hidden lg:block">Change Skin</span><span ><i class="fa-solid fa-caret-down"></i></span>
                    </button>
                    <div id="themeContent" class="z-10 hidden font-normal bg-white  absolute right-20 top-20 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700" >
                      <ul class="py-2 text-sm text-gray-700 dark:text-gray-400">
                        <li value="default"  class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white ">
                          Default
                        </li >
                        <li value="dark" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white ">
                          dark
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- Dropdown menu for user -->
                  <div class="flex items-center ml-3">
                    <div><button onclick="openNav()" class="self-center flex items-center justify-center rounded sm:text-[14px] h-[40px] w-[60px] lg:w-[130px] bg-white text-[#555555] relative"><i class="fas fa-user"></i><span class="p-[4px] hidden lg:block">admin</span><span ><i class="fa-solid fa-caret-down"></i></span>
                      </button>
                      <div id="adminContent" class="z-10  hidden font-normal bg-white  absolute right-0 top-20 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700" >
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-400">
                          <li>
                            <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">Profie</a>
                          </li>
                          <li>
                            <%= link_to 'user sign_out', destroy_user_session_path, class:"block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white"  , data: { turbo_method: :delete } %>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <%# side nav bar %>
        <div class="flex justify-end">
          <aside id="logo-sidebar" class="absolute md:relative top-0 pt-24 left-0 z-40 bg-black opacity-[0.8] w-[70%] sm:w-[120px] sm:opacity-[100%] lg:w-[300px] h-screen overflow-y-auto  transition-transform -translate-x-full sm:bg-white pl-0 md:pl-3  sm:translate-x-0" aria-label="Sidebar">
            <div class="rounded  pb-4 overflow-y-auto md:bg-white dark" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
              <ul class="space-y-2 font-medium text-[16px]">
                <li class="sm:hidden">
                  <a href="#" class="flex md:flex-col items-center lg:flex-row  md:border-b-2  items-centr p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:ml-3 hover:bg-slate-100 dark:hover:bg-gray-700 group">
                    <i class="fa-regular fa-clock"></i>  </i>Academic Year: 2023-2024</span>
              </a>
            </li>
            <li class="sm:hidden">
              <a href="#" class="flex md:flex-col items-center lg:flex-row  md:border-b-2  items-centr p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:ml-3 hover:bg-slate-100 dark:hover:bg-gray-700 group">
                <i class="fa-solid fa-envelope"></i><span class="p-[4px] text-[#fff]">SMS Available: 0</span>
              </a>
            </li>
            <li class="sm:hidden">
              <div><button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class=" self-center  sm:text-[14px] pl-[6px] pb-2 text-[#fff]"><i class="fa-solid fa-star"></i><span class="p-[4px]">More</span><span ><i class="fa-solid fa-caret-down"></i></span>
                </button>
                <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shaow w-44 dark:bg-gray-700 dark:divide-gray-600">
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">User Log</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">Manage Class</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">About School</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <span class="hidden md:block pl-3 text-left text-[14px] text-[#999b9c]">Main</span>
              <a href="#" class="flex md:flex-col items-center lg:flex-row  md:border-b-2  items-centr pl-2 pb-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:ml-3 hover:bg-slate-100 dark:hover:bg-gray-700 group">
                <span><i class="fa-solid fa-house"></i> </span><span class="ml-3">Dashbord</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex md:flex-col items-center lg:flex-row  md:border-b-2  items-centr p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:ml-3 hover:bg-slate-100 dark:hover:bg-gray-700 group">
                <span><i class="fas fa-user"></i> </span><span class="ml-3">Profile</span>
              </a>
            </li>
            <%# drop down button %>
            <li>
              <div class=" main flex md:flex-col items-center lg:flex-row  md:border-b-2 items-cente p-2 text-white md:text-[#39A9E8] rounded-lg sm:hover:text-[#157AB5] hover:ml-3 hover:bg-[#39A9E8] sm:hover:bg-slate-100 hover:text-[#ffffff] dark:hover:bg-gray-700 group"><span><i class="fa-solid fa-plus"></i> </span><span class="ml-3">Manage Fee</span></div>
              <ul class="bg-black opacity-[0.8] sm:opacity-[100%] sm:bg-white text-sm sub hidden"style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -60px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
                <li><a href="#" class="block py-2 ml-3 p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:ml-5 hover:bg-slate-100">Fees Payment </a></li>
                <li><a href="#" class="block py-2 ml-3 p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:ml-5 hover:bg-slate-100">Fee Due</a></li>
                <li><a href="#" class="block py-2 ml-3 p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:ml-5 hover:bg-slate-100">Fee collection </a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="flex md:flex-col items-center lg:flex-row  md:border-b-2 items-cente p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 hover:ml-3 dark:hover:bg-gray-700 group">
                <span><i class="fa-solid fa-calendar-days"></i> </span><span class="ml-3">Noticebord</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex md:flex-col items-center lg:flex-row  md:border-b-2 items-cente p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 hover:ml-3 dark:hover:bg-gray-700 group">
                <span><i class="fa-solid fa-envelope"></i> </span><span class="ml-3">Send SMS</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex md:flex-col items-center lg:flex-row  md:border-b-2 items-cente p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 hover:ml-3 dark:hover:bg-gray-700 group">
                <span><i class="fa-regular fa-clock"></i> </span><span class="ml-3">Student Attendance</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex md:flex-col items-center lg:flex-row  md:border-b-2 items-cente p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 hover:ml-3 dark:hover:bg-gray-700 group">
                <span><i class="fa-regular fa-clock"></i></span><span class="ml-3">Teacher Attendance</span>
              </a>
            </li>
            <li>
              <div class=" mainb flex md:flex-col items-center lg:flex-row  md:border-b-2 items-cente p-2 text-white md:text-[#39A9E8] rounded-lg sm:hover:text-[#157AB5] hover:ml-3 hover:bg-[#39A9E8] sm:hover:bg-slate-100 hover:text-[#ffffff] dark:hover:bg-gray-700 group"><span><i class="fa-solid fa-plus"></i> </span><span class="ml-3">Manage Student</span></div>
              <ul class="bg-black opacity-[0.8] sm:opacity-[100%] sm:bg-white text-sm subb hidden" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -60px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
                <li><a href="#" class="block py-2 ml-3 p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:ml-5 hover:bg-slate-100">Add New Student</a></li>
                <li><a href="#" class="block py-2 ml-3 p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:ml-5 hover:bg-slate-100">All Student</a></li>
              </ul>
            </li>
            <li>
              <div class=" mainc flex md:flex-col items-center lg:flex-row  md:border-b-2 items-cente p-2 text-white md:text-[#39A9E8] rounded-lg sm:hover:text-[#157AB5] hover:ml-3 hover:bg-[#39A9E8] sm:hover:bg-slate-100 hover:text-[#ffffff] dark:hover:bg-gray-700 group"><span><i class="fa-solid fa-plus"></i> </span><span class="ml-3">Manage Parent</span></div>
              <ul class="bg-black opacity-[0.8] sm:opacity-[100%] sm:bg-white text-sm subc hidden" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -60px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
                <li><a href="#" class="block py-2 ml-3 p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:ml-5 hover:bg-slate-100">Add New Parent</a></li>
                <li><a href="#" class="block py-2 ml-3 p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:ml-5 hover:bg-slate-100">All Parent</a></li>
              </ul>
            </li>
            <li>
              <div class=" maind flex md:flex-col items-center lg:flex-row  md:border-b-2 items-cente p-2 text-white md:text-[#39A9E8] rounded-lg sm:hover:text-[#157AB5] hover:ml-3 hover:bg-[#39A9E8] sm:hover:bg-slate-100 hover:text-[#ffffff] dark:hover:bg-gray-700 group"><span><i class="fa-solid fa-plus"></i> </span><span class="ml-3">Manage Staff</span></div>
              <ul class="bg-black opacity-[0.8] sm:opacity-[100%] sm:bg-white text-sm subd hidden"style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -60px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
                <li><a href="#" class="block py-2 ml-3 p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:ml-5 hover:bg-slate-100">Add New Staff</a></li>
                <li><a href="#" class="block py-2 ml-3 p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:ml-5 hover:bg-slate-100">All Staff</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="flex md:flex-col items-center lg:flex-row  md:border-b-2 items-cente p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 hover:ml-3 dark:hover:bg-gray-700 group">
                <span><i class="fa-solid fa-envelope"></i> </span><span class="ml-3">Send SMS To Staff</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex md:flex-col items-center lg:flex-row  md:border-b-2 items-cente p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 hover:ml-3 dark:hover:bg-gray-700 group">
                <span><i class="fa-solid fa-envelope"></i> </span><span class="ml-3">SMS Reports</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex md:flex-col items-center lg:flex-row  md:border-b-2 items-cente p-2 text-white md:text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 hover:ml-3 dark:hover:bg-gray-700 group">
                <span><i class="fa-solid fa-plus"></i> </span><span class="ml-3">Promote Student</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>
      <div class="p-2 mt-20 w-full md:w-[85%]">
      <% end %>
      <%= yield %>
    </div>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <script>
    $(document).ready(function() {
      $('.main').click(function() {
        const el = $(this).parent().find('.sub');
        el.slideToggle('slow'); // Add slideToggle with a 'slow' animation speed
      });
    });

      $(document).ready(function() {
      $('.mainb').click(function() {
        const elb = $(this).parent().find('.subb');
        elb.slideToggle('slow'); // Add slideToggle with a 'slow' animation speed
      });
    });

      $(document).ready(function() {
      $('.mainc').click(function() {
        const elc = $(this).parent().find('.subc');
        elc.slideToggle('slow'); // Add slideToggle with a 'slow' animation speed
      });
    });
    $(document).ready(function() {
      $('.maind').click(function() {
        const eld = $(this).parent().find('.subd');
        eld.slideToggle('slow'); // Add slideToggle with a 'slow' animation speed
      });
    });

    $(document).ready(function() {
    const themeSelect = $(".themeSelect");
    const themeStylesheet = $("#themeStylesheet");
    const themePaths = {
      default: "<%= asset_path('default.css') %>",
      dark: "<%= asset_path('dark.css') %>"
    };

    function activateTheme(themeName) {
      const selectedTheme = themePaths[themeName] || themePaths.default;
      themeStylesheet.attr("href", selectedTheme);

      // Save the selected theme to localStorage
      localStorage.setItem("selectedTheme", themeName);
    }

    // Check if a theme is stored in localStorage and set it as the initial theme
    const storedTheme = localStorage.getItem("selectedTheme");
    const initialTheme = storedTheme || "default";

    // Set the initial theme
    activateTheme(initialTheme);
    themeSelect.val(initialTheme); // Set the dropdown value to match the initial theme

    $('#themeContent li').click( function() {
     const selectedValue = $(this).attr('value');
      activateTheme(selectedValue);
      openNavForTheme();
    console.log('Selected value:', selectedValue);
    });
    });
  </script>
</body>
</html>
