<!DOCTYPE html>
<html>
  <head>
    <title>SchoolManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/js/all.min.js' %>
    <style>
      div#dropdownNavbar {
      top: 15px !important;
      }
    </style>
    <script>
      function openNav() {
       menu = document.getElementById("adminContent");
       console.log(menu.classList)
       if (menu.classList.contains("hidden")) {
         menu.classList.remove("hidden");
       }
       else {
         menu.classList.add("hidden");
       }
           }
    </script>
    <script>
      function openNavForTheme() {
       menu = document.getElementById("themeContent");
       console.log(menu.classList)
       if (menu.classList.contains("hidden")) {
         menu.classList.remove("hidden");
       }
       else {
         menu.classList.add("hidden");
       }
           }
    </script>
  </head>
  <body>
    <% if user_signed_in? %>
      <nav class="fixed top-0 z-50 w-full bg-[#39A9E8] border-b border-gray-200 dark:bg-[#39A9E8] dark:border-gray-700">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
          <div class="flex items-center justify-between">
            <div class="flex items-center justify-start">
              <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                <span class="sr-only">Open sidebar</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                </svg>
              </button>
              <a href="" class="flex ml-2 md:mr-24">
                <img src="<%= asset_path('homescreenlogo.png') %>" alt="Image Description" class="w-[133px] h-[50px]" >
              </a>
              <div class="flex space-x-4">
                <div class="hidden sm:block self-center  sm:text-[14px] text-[#fff] " ><i class="fa-regular fa-clock"></i>  </i>Academic Year: 2023-2024</div>
              <div class="hidden sm:block self-center  sm:text-[14px] whitespace-nowrap dark:text-white text-[#fff]"><i class="fa-solid fa-envelope"></i><span class="p-[4px] text-[#fff]">SMS Available: 0</span></div>
              <div><button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="hidden sm:block self-center  sm:text-[14px]  text-[#fff]"><i class="fa-solid fa-star"></i><span class="p-[4px]">More</span><span ><i class="fa-solid fa-caret-down"></i></span>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">User Log</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">Manage Class</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">About School</a>
                    </li>
                  </ul>
                </div>
              </li>
            </div>
          </div>
        </div>
        <div class="flex items-center">
          <div>
            <!-- Dropdown for theme  cerulea cyborg Simplex Darkly-->
            <div class="flex items-center ml-3">
              <div><button onclick="openNavForTheme()" class="self-center flex items-center justify-center rounded sm:text-[14px] h-[40px] w-[60px] lg:w-[130px] bg-white text-[#555555] relative"><i class="fa-solid fa-droplet"></i><span class="p-[4px] hidden lg:block">Change Skin</span><span ><i class="fa-solid fa-caret-down"></i></span>
                </button>
                <div id="themeContent" class="z-10 hidden font-normal bg-white  absolute right-20 top-20 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700" >
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-400">
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">cerulea</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">cyborg</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">Simplex</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">Darkly</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">cyborg</a>
                    </li>
                  </ul>
                </div>
              </li>
            </div>
            <!-- Dropdown menu for user -->
            <div class="flex items-center ml-3">
              <div><button onclick="openNav()" class="self-center flex items-center justify-center rounded sm:text-[14px] h-[40px] w-[60px] lg:w-[130px] bg-white text-[#555555] relative"><i class="fas fa-user"></i><span class="p-[4px] hidden sm:block">admin</span><span ><i class="fa-solid fa-caret-down"></i></span>
                </button>
                <div id="adminContent" class="z-10  hidden font-normal bg-white  absolute right-0 top-20 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700" >
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-400">
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">Profie</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-[#39A9E8] dark:hover:bg-gray-600 dark:hover:text-white">Log Out</a>
                    </li>
                  </ul>
                </div>
              </li>
            </div>
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
              <div class="px-4 py-3" role="none">
                <p class="text-sm text-gray-900 dark:text-white" role="none">
                  Neil Sims
                </p>
                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                  neil.sims@flowbite.com
                </p>
              </div>
              <ul class="py-1" role="none">
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Settings</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Earnings</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Sign out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->
  <aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-[300px] h-screen pt-28  transition-transform -translate-x-full bg-white pl-3  sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
    <div class="h-full rounded pt-4  pb-4 overflow-y-auto bg-white dark:bg-gray-800" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
      <ul class="space-y-2 font-medium text-[16px]">
        <li>
          <a href="#" class="flex items-center p-2 text-[#39A9E8] rounded-lg hover:text-white hover:bg-[#39A9E8] group">
            <span><i class="fa-solid fa-house"></i> </span><span class="ml-3">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 dark:hover:bg-gray-700 group">
            <span><i class="fas fa-user"></i> </span><span class="ml-3">Profile</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 dark:hover:bg-gray-700 group">
            <span><i class="fa-solid fa-plus"></i> </span><span class="ml-3">Manage Fee</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 dark:hover:bg-gray-700 group">
            <span><i class="fa-solid fa-calendar-days"></i> </span><span class="ml-3">Noticebord</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 dark:hover:bg-gray-700 group">
            <span><i class="fa-solid fa-envelope"></i> </span><span class="ml-3">Send SMS</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 dark:hover:bg-gray-700 group">
            <span><i class="fa-regular fa-clock"></i> </span><span class="ml-3">Student Attendance</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 dark:hover:bg-gray-700 group">
            <span><i class="fa-regular fa-clock"></i></span><span class="ml-3">Teacher Attendance</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 dark:hover:bg-gray-700 group">
            <span><i class="fa-solid fa-plus"></i> </span><span class="ml-3">Manage Student</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 dark:hover:bg-gray-700 group">
            <span><i class="fa-solid fa-plus"></i> </span><span class="ml-3">Manage Staff</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 dark:hover:bg-gray-700 group">
            <span><i class="fa-solid fa-plus"></i> </span><span class="ml-3">Manage Parent</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 dark:hover:bg-gray-700 group">
            <span><i class="fa-solid fa-envelope"></i> </span><span class="ml-3">Send SMS To Staff</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 dark:hover:bg-gray-700 group">
            <span><i class="fa-solid fa-envelope"></i> </span><span class="ml-3">SMS Reports</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-[#39A9E8] rounded-lg hover:text-[#157AB5] hover:bg-slate-100 dark:hover:bg-gray-700 group">
            <span><i class="fa-solid fa-plus"></i> </span><span class="ml-3">Promote Student</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <div class="p-4 sm:ml-72">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
      <div class="grid grid-cols-3 gap-4 mb-4">
        <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
          </p>
        </div>
        <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
          </p>
        </div>
        <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
          </p>
        </div>
      </div>
      <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
        </p>
      </div>
      <div class="grid grid-cols-2 gap-4 mb-4">
        <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
          </p>
        </div>
        <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
          </p>
        </div>
        <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
          </p>
        </div>
        <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
          </p>
        </div>
      </div>
      <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
        </p>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
          </p>
        </div>
        <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
          </p>
        </div>
        <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
          </p>
        </div>
        <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
